@font-face {
    font-family: 'Calculator-Font';
    src: url('./fonts/Digital7Mono-Yz9J4.ttf') format('truetype');
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077b6;
    margin-top: 3%;
}


#calculator-body{
    background-color: #4a4e69;
    width: 480px;
    height: 480px;
    border-radius: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


#screen{
    display: flex;
    flex-direction: column;
    width: 88%;
    height: 30%;
    margin-top: 30px;
    gap: 0;
    font-family: 'Calculator-Font',sans-serif;
    font-weight: 500;
}

#screen1{
    background-color: #a4c3b2;
    max-width: 100%;
    height: 60%;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    text-align: left;
}

#screen2{
    background-color: #a4c3b2;
    max-width: 100%;
    height: 30%;
    text-align: right;
    padding-right: 20px;
    font-size: 35px;
}

#buttons{
    display: flex;
    flex-direction: column;
    width: 88%;
}

.buttonRows{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-bottom: 5px;
}

#row4{
    flex-direction: row;
}

.buttonRows button{
    width: 100%;
    height: 60px;
    border-radius: 5%;
}

button{
    background-color: #f7e1d7;
    font-family: 'Calculator-Font',sans-serif;
    font-size: 24px;
}

.Remove{
    background-color: #e63946;
}

.Operations{
    background-color: #06d6a0;
}

a {
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  a span {
    margin-right: 10px;
  }
  
  a img {
    margin-left: 7px;
    width: 17px;
    height: auto;
    color: wheat;
  }
  